.def-container,
.er-container {
  color: aliceblue;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.td-wrapper,
.er-wrapper {
  margin: 0 auto;
  width: 90%;
}
.td-container,
.err-container {
  font-weight: lighter;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-family: "Jost", sans-serif;
}
@media screen and (max-width: 500px) {
  .td-container {
    font-size: 1rem;
  }
}
.err-container {
  text-align: center;
}
.ntg-container {
  text-align: center;
  font-size: 1.4rem;
  color: aliceblue;
  font-family: "Jost", sans-serif;
}
